@import '../_styles/common/prefix';
@then-color: #f6f8fb;
@font-color: #333;
@active-color: #4389f9;
@pagination-prefix-cls: ~'@{prefix}';
@defaultSize: 30px;
@smallSize: 24px;
@disabledOpacity: 0.4;

ul.@{pagination-prefix-cls}-pagination {
  display: flex;
  align-items: center;
  list-style: none;
  [disabled] {
    opacity: @disabledOpacity;
    pointer-events: none;
  }
  .@{pagination-prefix-cls}-options,
  .@{pagination-prefix-cls}-simple-pager,
  .@{pagination-prefix-cls}-options-quick-jumper {
    & > input {
      box-sizing: border-box;
      width: 46px;
      height: @defaultSize;
      padding: 6px;
      background: @then-color;
      border: 0;
      &:focus-visible {
        outline: none;
      }
    }
  }
  &.default {
    .@{pagination-prefix-cls}-item,
    .flipIcon {
      min-width: @defaultSize;
      min-height: @defaultSize;
      line-height: @defaultSize;
      text-align: center;
    }
    .@{pagination-prefix-cls}-item.@{pagination-prefix-cls}-item-active {
      width: calc(@defaultSize + 2px);
      height: calc(@defaultSize + 2px);
      line-height: calc(@defaultSize + 2px);
    }
    li + li {
      margin-left: 12px;
    }
  }
  &.small {
    .@{pagination-prefix-cls}-item,
    .flipIcon {
      min-width: @defaultSize;
      min-height: @defaultSize;
      line-height: @defaultSize;
    }
    .@{pagination-prefix-cls}-item.@{pagination-prefix-cls}-item-active {
      width: calc(@smallSize+ 2px);
      height: calc(@smallSize+ 2px);
      line-height: calc(@smallSize+ 2px);
    }
    li + li {
      margin-left: 10px;
    }
  }
  .@{pagination-prefix-cls}-item,
  .@{pagination-prefix-cls}-prev,
  .@{pagination-prefix-cls}-next,
  .flipIcon {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    color: @font-color;
    background: @then-color;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
    &.@{pagination-prefix-cls}-disabled {
      cursor: not-allowed;
      opacity: @disabledOpacity;
      .svgIcon {
        stroke: @font-color;
      }
    }
  }
  .flipIcon {
    width: 100%;
    height: 100%;
  }
  .@{pagination-prefix-cls}-item,
  .flipIcon {
    &:hover,
    &.@{pagination-prefix-cls}-item-active {
      color: #fff;
      background: @active-color;
      transition: background 0.3s, color 0.3s;
      .svgIcon {
        stroke: #fff;
      }
    }
  }
  .item-ellipsis {
    cursor: pointer;
  }
  .svgIcon {
    fill: none;
    stroke: @font-color;
    stroke-width: 1;
  }
}
ul.is-disabled {
  cursor: not-allowed;
  opacity: @disabledOpacity;
  .@{pagination-prefix-cls}-item,
  .@{pagination-prefix-cls}-prev,
  .@{pagination-prefix-cls}-next {
    pointer-events: none;
  }
}
.@{pagination-prefix-cls}-options {
  display: flex;
  margin-left: 12px;
  vertical-align: middle;
  .@{pagination-prefix-cls}-select {
    margin-right: 12px;
  }
}
