@import '../_styles/common/prefix';
@then-color: #f6f8fb;
@font-color: #333;
@active-color: #4389f9;
@pagination-prefix-cls: ~'@{prefix}';
ul.@{pagination-prefix-cls}-pagination {
  display: flex;
  align-items: center;
  list-style: none;
  [disabled] {
    opacity: 0.4;
    pointer-events: none;
  }
  .@{pagination-prefix-cls}-options,
  .@{pagination-prefix-cls}-simple-pager,
  .@{pagination-prefix-cls}-options-quick-jumper {
    & > input {
      box-sizing: border-box;
      width: 46px;
      height: 30px;
      padding: 6px;
      background: @then-color;
      border: 0;
      &:focus-visible {
        outline: none;
      }
    }
  }
  &.default {
    .@{pagination-prefix-cls}-item,
    .flipIcon {
      min-width: 30px;
      min-height: 30px;
      line-height: 30px;
      text-align: center;
    }
    .@{pagination-prefix-cls}-item.@{pagination-prefix-cls}-item-active {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    li + li {
      margin-left: 12px;
    }
  }
  &.small {
    .@{pagination-prefix-cls}-item,
    .flipIcon {
      min-width: 24px;
      min-height: 24px;
      line-height: 24px;
    }
    .@{pagination-prefix-cls}-item.@{pagination-prefix-cls}-item-active {
      width: 26px;
      height: 26px;
      line-height: 26px;
    }
    li + li {
      margin-left: 10px;
    }
  }
  .@{pagination-prefix-cls}-item,
  .@{pagination-prefix-cls}-prev,
  .@{pagination-prefix-cls}-next,
  .flipIcon {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    color: @font-color;
    background: @then-color;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.3s;
    &.@{pagination-prefix-cls}-disabled {
      cursor: not-allowed;
      opacity: 0.4;
      .svgIcon {
        stroke: @font-color;
      }
    }
  }
  .flipIcon {
    width: 100%;
    height: 100%;
  }
  .@{pagination-prefix-cls}-item,
  .flipIcon {
    &:hover,
    &.@{pagination-prefix-cls}-item-active {
      color: #fff;
      background: @active-color;
      transition: background 0.3s, color 0.3s;
      .svgIcon {
        stroke: #fff;
      }
    }
  }
  .item-ellipsis {
    cursor: pointer;
  }
  .svgIcon {
    fill: none;
    stroke: @font-color;
    stroke-width: 1;
  }
}
ul.is-disabled {
  cursor: not-allowed;
  opacity: 0.4;
  .@{pagination-prefix-cls}-item,
  .@{pagination-prefix-cls}-prev,
  .@{pagination-prefix-cls}-next {
    pointer-events: none;
  }
}
.@{pagination-prefix-cls}-options {
  display: flex;
  margin-left: 12px;
  vertical-align: middle;
  .@{pagination-prefix-cls}-select {
    margin-right: 12px;
  }
}
