.kenshin-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  color: #fff;
  opacity: 1;
  display: table;
  transition: opacity .2s
}

.kenshin-alert .kenshin-alert__description {
  color: #fff;
  font-size: 12px;
  margin: 5px 0 0
}

.kenshin-alert--success {
  background-color: #13ce66
}

.kenshin-alert--info {
  background-color: #50bfff
}

.kenshin-alert--warning {
  background-color: #f7ba2a
}

.kenshin-alert--error {
  background-color: #ff4949
}

.kenshin-alert__content {
  display: table-cell;
  padding: 0 8px
}

.kenshin-alert__icon {
  font-size: 16px;
  width: 16px;
  display: table-cell;
  color: #fff;
  vertical-align: middle
}

.kenshin-alert__icon.is-big {
  font-size: 28px;
  width: 28px
}

.kenshin-alert__title {
  font-size: 13px;
  line-height: 18px
}

.kenshin-alert__title.is-bold {
  font-weight: 700
}

.kenshin-alert__closebtn {
  font-size: 12px;
  color: #fff;
  opacity: 1;
  top: 12px;
  right: 15px;
  position: absolute;
  cursor: pointer
}

.kenshin-alert__closebtn.is-customed {
  font-style: normal;
  font-size: 13px;
  top: 9px
}

.kenshin-alert-fade-enter, .kenshin-alert-fade-leave-active {
  opacity: 0
}
